<%- include('partials/head.ejs'); %>
<body>
  <%- include('partials/navbar.ejs'); %>
  <div class="container">
    <h1 style="margin-top: 1.5rem;"><%= pergunta.titulo %></h1>
    <hr>
    <p><%= pergunta.descricao %></p>
  </div>
</body>
<%- include('partials/footer.ejs'); %>

